<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a URL</title>
</head>
<style>
    h1 {
        font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    }
    body {
        font-family: sans-serif;
        margin: 100px;
    }
    header {
        float: right;
    }
</style>
<body>
    <h1><a href="/urlexpander">Home</a></h1>
    <header>
        {% if user.is_authenticated %}
        <p class="auth">Hello {{ user.first_name }} (<a href="{% url "django.contrib.auth.views.logout" %}">Log out</a>)</p>
        {% else %}
        <a href="{% url "django.contrib.auth.views.login" %}" class="auth">Login</a>
        {% endif %}
    </header>
    <form method="POST">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Add" style="font-size: x-large">
    </form>
</body>
</html>